<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Felisz.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ADA_HRLine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings/>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Felisz.Properties.Settings>
            <setting name="felisz_db_ConnectionString" serializeAs="String">
                <value>server=s27.tarhely.com;uid=cbbsseu_sqlaccess;pwd=^DJ5H-B^!wBmXe+-;database=cbbsseu_felisz_main;Character Set=utf8</value>
            </setting>
            <setting name="RSSUrl" serializeAs="String">
                <value>https://www.hrportal.hu/rss/hirek.xml</value>
            </setting>
            <setting name="MTUrl" serializeAs="String">
                <value>https://net.jogtar.hu/jogszabaly?docid=A1200001.TV</value>
            </setting>
            <setting name="ügyfélSzolgTel" serializeAs="String">
                <value>+36 30 650 5947</value>
            </setting>
            <setting name="ügyfélSzolgEmail" serializeAs="String">
                <value>balazs.bognar@hotmail.com</value>
            </setting>
            <setting name="cég_db_ConnectionString" serializeAs="String">
                <value>server=s27.tarhely.com;uid=cbbsseu_XXX;pwd=YYY;database=cbbsseu_ZZZ;Character Set=utf8</value>
            </setting>
            <setting name="utolsóFelhasználó" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="bejelentkezésiKisérlet" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="jelszóÉrvényesség" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="GoogleMapsAPI" serializeAs="String">
                <value>AIzaSyDbfd28AxL8tBKWUrmEOHaBh9e3D-NGQnY</value>
            </setting>
        </Felisz.Properties.Settings>
        <ADA_HRLine.Properties.Settings>
            <setting name="felisz_db_ConnectionString" serializeAs="String">
                <value>server=s27.tarhely.com;uid=cbbsseu_sqlaccess;pwd=^DJ5H-B^!wBmXe+-;database=cbbsseu_felisz_main;Character Set=utf8</value>
            </setting>
            <setting name="RSSUrl" serializeAs="String">
                <value>https://www.hrportal.hu/rss/hirek.xml</value>
            </setting>
            <setting name="MTUrl" serializeAs="String">
                <value>https://net.jogtar.hu/jogszabaly?docid=A1200001.TV</value>
            </setting>
            <setting name="licencKód" serializeAs="String">
                <value/>
            </setting>
            <setting name="ügyfélSzolgTel" serializeAs="String">
                <value>+36 30 650 5947</value>
            </setting>
            <setting name="ügyfélSzolgEmail" serializeAs="String">
                <value>balazs.bognar@hotmail.com</value>
            </setting>
            <setting name="cég_db_ConnectionString" serializeAs="String">
                <value>server=s27.tarhely.com;uid=cbbsseu_XXX;pwd=YYY;database=cbbsseu_ZZZ;Character Set=utf8</value>
            </setting>
            <setting name="utolsóFelhasználó" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="bejelentkezésiKisérlet" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="jelszóÉrvényesség" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="GoogleMapsAPI" serializeAs="String">
                <value>AIzaSyDbfd28AxL8tBKWUrmEOHaBh9e3D-NGQnY</value>
            </setting>
        </ADA_HRLine.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
